<div class="container mt-5" id="albums-table">
    <h2>Albums</h2>
    <br>
    <table id="albums-table" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Image</th> 
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody id="albums-table-body">
            {{#each this as |album|}}
                {{!-- add onclick to see songs --}}
                <tr>
                    <td hidden>{{album.mbid}}</td>
                    <td><img src='{{album.images.[1].url}}'></td>
                    <td>{{album.name}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>