<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each albums as |album|}}

        {{!-- add onclick to see songs --}}
          <tr>
              <td>
                <td><img src=album.images[0].url></td>
                <td>{{album.name}}</td>
          </tr>  
        {{/each}}}}
    </tbody>

</table>