<div class="toast bg-{{type}} top float-right mt-2 mr-2 alert alert-{{type}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close pb-1" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>