<table id="artists-table" class="table table-hover">
    <thead>
        <tr>
           <th scope="col">Image</th> 
           <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.artists as |artist|}}
        {{!-- add onclick event for each row to go to artist albums --}}
            <tr>
                <td hidden>{{artist.mbid}}</td>
                {{#if artist.images[0]}}
                <td><img src={{artist.images[0].url}}></td>
                {{else}}
                <td>No image</td>
                {{/if}}
                <td>{{artist.name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>