<div class="container mt-5 mb-5">
    <h5 class="text-dark mt-5 mx-auto">Playlists</h5>

    <div>
        <form class="form">
            <div class="form-group">
                <label for="playlistName">Playlist Name</label>
                <input type="text" class="form-control" id="playlistName" name="playlistName" placeholder="Name" required>
            </div> 
            <div class="form-group">
                <label for="playlistDescription">Playlist Description</label>
                <input type="text" class="form-control" id="playlistDescription" name="playlistDescription" placeholder="Description" required>
            </div> 
        </form>
        <button type="button" id="playlistBtn" class="btn btn-outline-primary">
            Create
        </button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="playlists-table-body">
            {{#each this as |playlist|}}
            {{!-- add on click event to go to playlist --}}
            <tr>
                <td hidden>{{playlist.id}}</td>
                <td>{{playlist.name}}</td>
                <td><button type="button" class="btn btn-outline-danger"></button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>