<div class="container">
    <p>Playlists</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody id="playlists-table-body">
            {{#each playlists as |playlist|}}
            {{!-- add on click event to go to playlist --}}
            <tr>
                <td hidden>{{playlist.id}}</td>
                <td>{{playlist.name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>