<div class="container">
    <p class="title">Tracks</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Duration</th>
                <th scope="col">Link</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="tracks-table-body">
            {{#each this.playlist.tracks as |track|}}
            <tr>
                <td>{{track.name}}</td>
                <td>{{track.artist.name}}</td>
                <td>{{track.duration}}</td>
                <td><a href="{{track.url}}">Go to Music</a></td>
                <td>
                    <div>
                        <button type="button" class="btn btn-outline-danger" data-target="" data-toggle="modal"
                            data-target="#removeTrackModal">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>


    {{!-- TODO add  --}}
    <div class="modal fade" id="removeTrackModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Track</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>Are you sure you want to delete this song from your playlist?</span>
                </div>
                <div class="modal-footer">
                    <form hidden action="">
                        <input id="playlistId" type="text" hidden>
                        <input id="trackUrl" type="text" hidden >
                    </form>
                    <button type="submit"  class="btn btn-danger" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-success">No</button>
                </div>
            </div>
        </div>
    </div>


</div>