<div  class="container center mw-75">
    <h1>YAMA</h1>
    <form class="form-inline center mw-75">
                <input id="searchInput" class="form-control mr-2" type="text" placeholder="Search Artist"
                    aria-label="Search">
                <button id="searchBtn" class="btn btn-outline-primary" type="button">Search</button>
    </form>

    <div id="artist-search-results" class="container"></div>

</div>