<div class="container mx-auto">
    <h1>YAMA</h1>
    <form class="form-inline center mt-2 mw-75">
        <input id="searchInput" class="form-control mr-2" type="text" placeholder="Search Artist"
            aria-label="Search">
        <button id="searchBtn" class="btn btn-outline-primary" type="button">Search</button>
    </form>
    <br>
    <div class="container" id="artist-search-results" ></div>
</div>